{% extends 'main/base.html'%}

{% block title %}Tambah Produk{% endblock %}

{% block isi %}
	<h2><u>Form Tambah Produk</u></h2>
	<center>
	<table border="1">
		<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
			<tr>
				<th>Kode Produk</th>
				<td>{{form.kode_produk}}</td>
			</tr>
			<tr>
				<th>Nama Produk</th>
				<td>{{form.nama_produk}}</td>
			</tr>
			<tr>
				<th>Stok Produk</th>
				<td>{{form.stok_produk}}</td>
			</tr>
			<tr>
				<th>Deskripsi Produk</th>
				<td>{{form.desc_produk}}</td>
			</tr>
			<tr>
				<th>Harga Produk</th>
				<td>{{form.harga_produk}}</td>
			</tr>
			<tr>
				<th>Foto Produk</th>
				<td>{{form.foto_produk}}</td>
			</tr>
			<tr align="center">
				<td colspan="2">
					<input type="submit" Value="Tambah Produk">
					<input type="reset" value="Reset">
				</td>
			</tr>
		</form>
	</table>
	</center>
{% endblock %}